In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web
import math
import yfinance as yf

In [16]:
new = yf.download(tickers ='EURUSD=X',start ='2020-01-01',end ='2020-05-05',interval= '5d' )
new

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2019-12-31  1.120448  1.124101  1.120072  1.120230   1.120230       0
2020-01-10  1.110926  1.112100  1.108623  1.111111   1.111111       0
2020-01-15  1.112966  1.116346  1.112025  1.113090   1.113090       0
2020-01-20  1.109521  1.110494  1.107751  1.109459   1.109459       0
2020-01-30  1.101406  1.103655  1.100824  1.101686   1.101686       0
2020-02-04  1.106293  1.106562  1.103387  1.106293   1.106293       0
2020-02-14  1.084599  1.086248  1.083130  1.084599   1.084599       0
2020-02-19  1.079471  1.080847  1.078360  1.079540   1.079540       0
2020-02-24  1.083858  1.086366  1.080847  1.083905   1.083905       0
2020-03-05  1.113908  1.120448  1.112174  1.113908   1.113908       0
2020-03-10  1.139744  1.142296  1.133414  1.139796   1.139796       0
2020-03-20  1.065848  1.082989  1.065451  1.065735   1.065735       0
2020-03-25  1.080124  1.084952  1.077018  1.080264   1.080264       0
2020-03-30  1.113536  1.113784  1.101225  1.113908   1.113908       0
2020-04-09  1.086118  1.094355  1.084180  1.086366   1.086366       0
2020-04-14  1.091953  1.098394  1.091572  1.092299   1.092299       0
2020-04-24  1.077633  1.081771  1.072766  1.077702   1.077702       0
2020-04-29  1.083236  1.087429  1.083166  1.083658   1.083658       0
2020-05-04  1.095746  1.095782  1.090132  1.095963   1.095963       0

In [11]:
new = web.DataReader('EURUSD=X', data_source='yahoo', start='2020-01-01', end='2020-05-05') 

new

                High       Low      Open     Close  Volume  Adj Close
Date
2020-01-01  1.122838  1.115947  1.122083  1.122083       0   1.122083
2020-01-02  1.122712  1.116682  1.121894  1.122083       0   1.122083
2020-01-03  1.118068  1.112570  1.117081  1.117144       0   1.117144
2020-01-06  1.120825  1.115810  1.116246  1.116196       0   1.116196
2020-01-07  1.119946  1.113487  1.119583  1.119799       0   1.119799
...              ...       ...       ...       ...     ...        ...
2020-04-29  1.096996  1.083565  1.087666  1.087725       0   1.087725
2020-04-30  1.101625  1.093542  1.094475  1.094547       0   1.094547
2020-05-03  1.095782  1.090132  1.095746  1.095963       0   1.095963
2020-05-04  1.092132  1.082696  1.090453  1.090429       0   1.090429
2020-05-05  1.084481  1.078423  1.084011  1.083858       0   1.083858

[91 rows x 6 columns]

In [3]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))

In [4]:
new = new.filter(['Close'])
new_dataset = new.values

In [5]:
from tensorflow import keras
model = keras.models.load_model('lstm_model.h5')

In [6]:
test = []
for i in range(60,len(new_dataset)):
  test.append(new_dataset[i-60:i,0])
  
test = np.array(test)
test = np.reshape(test, (test.shape[0],test.shape[1],1))
new_predictions = model.predict(test)

In [7]:
new_predictions.shape

(30, 1)